body {
    background-color: lightyellow;
	}
	
h2 {
     font-family: arial;
     color:teal; 
     text-align: center;
  }
 
a:hover {
    color: red;
}

th,td { 
     font-family: arial;
     color:SlateBlue; 
     size:5;
	 text-align: center;
	 background-color: lightyellow;
	 }
	 
tr:nth-child(odd){background-color: White}
tr:nth-child(even){background-color: WhiteSmoke}
